{% extends "base.html" %}
{% load course_extras %}

{% block title %}
    New Answer | {{ question|default:"New Answer" }} | {{ question.quiz.course.title }}
    | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:detail' pk=question.quiz.course.pk %}">{{ question.quiz.course.title }}</a></li>
    <li><a href="{% url 'courses:quiz' course_pk=question.quiz.course.pk step_pk=question.quiz.pk %}">{{ question.quiz.title }}</a></li>
    <li>{{ question.prompt }}</li>
{% endblock %}

{% block content %}
    <div class="main-content position-relative" id="main-content" role="main">
        <div id="top"></div>
        <section class="medium-padding cta-intro" id="">
            <div class="column">
                {{ block.super }}
            </div>
            <div class="content content-width-medium align-center">
                <div class="copy gap-top-small">
                    <div class="container gap-top-small align-center clearfix">
                        <form class="align-left" action="" method="POST">
                            <h1 class="purple align-center">Answers</h1>
                            {% csrf_token %}
                            <div class="gap-bottom-small gap-top-small">
                                {{ formset }}
                            </div>
                            <input type="submit" class="btn btn-primary strong float-right" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
