{% extends "base.html" %}
{% load humanize course_extras %}

{% block title %}
    {{ form.instance.title|default:"New Quiz"}}: {{ course.title }} | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="main-content position-relative" id="main-content" role="main">
        <div id="top"></div>
        <section class="medium-padding cta-intro light-grey-bg" id="">
            <div class="content content-width-medium">
                <div class="container gap-top-small align-center clearfix">
                        <form method="POST" class="align-left" action="">
                            <h4 class="align-right">
                                <!--<a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a>-->
                            </h4>
                            <h3 class="">{{ form.instance.title|default:"Make a New Quiz for:"}} <span class="h5 strong"><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></span></h3>
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary strong float-right" value="Save">
                        </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
